/* 
    Document   : cStyl
    Created on : 26 Dec, 2013, 9:33:34 PM
    Author     : Tanay Bera
    Description:
        Purpose of the stylesheet follows.
*/




root { 
    display: block;
}

.txt{
    font-family: 'Source Sans Pro', sans-serif;
    color: #666666;
    font-size: 1.12em;
    font-weight: 200;
}
.aNam{
    color: black;
    opacity: 0.8;
}
.aNam:hover{
    opacity: 1;
}

.tsan{
    font-family: 'Source Sans Pro', sans-serif;
}
.tmono{
    font-family: monospace;
}

body{
    min-width: 240px;
    height: 100%;
    width: 100%;
}

.mTop10{
    margin-top: 10px;
}

.mTop50{
    margin-top: 50px;
}
.pTop10{
    padding-top: 10px;
}
.p10{
    padding: 10px;
}
.m10{
    margin: 10px;
}
.white{
    color: white;
}
.white:hover{
    color: white !important;
}
.pbH{
    color: #666666;
    
}
.pbH:hover{
    color: black !important;
}
.pbk{
    background: #efefef;
}
.fS1{
    font-size: 1em;
}

html{
    height: 100%;
}
footer, #push{
    height: 200px;
    display: block;
}
footer, .bdBack{
    box-shadow: 1px 0px 10px 0px #333333;
}

footer,html, .bdBack{
    background: #333333;
}

#wrapper{
    background: white;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
    width: 100%;
}

header{
    box-shadow: 1px 0px 5px 2px #ccc;
}

.mim{
    margin-top: -130px !important;
    position: relative;
}
.blockC{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blnk50, .blnk120{
    width: 100%;
    position: relative;
}
.blnk50{
    height: 50px;
}

.blnk120{
    height: 120px;
}
.txtC{
    vertical-align: middle;
    text-align: center;
}
#social{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 5px 20px;
    border: #ccc 1px solid;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
}

#social:hover{
    opacity: 1;
}
#social > p {
    font-family: monospace;
}
#social > img{
    position: relative;
    margin-top: -40px;
    margin-left: 5%;
}

.mdFoot{
    border-top: none;
    border-bottom: none;
    border-left: gray;
    border-right: gray;
    padding-top: 40px;
}

.mdFoot > p{
    color: white;
    font-family: monospace;
    text-align: center;
    opacity: 0.8;
}
.mdFoot > p > a{
    color: white;
    text-decoration: none;
    font-family: monospace;
}
.mdFoot > p > a:hover{
    text-shadow: 0px 0px 1px white;
}

.note, .note  >p{
    font-family: monospace;
    font-weight: bold;
}
.tags{
    margin-left: 15px;
    line-height: 25px;
    vertical-align: middle;
}
a.tdN{
    text-decoration: none !important;
}
.tag{
    margin: 0px 2px;
}
.codBlock{
    min-height: 400px;
}
.codImg{
    position: absolute;
    height: 32px;
    width: 32px;
    margin-top: -6px;
    background: url('../../resources/icons/pl.png');
    border: 0;
}
.pL{
    margin-left: 40px;
}

#codeC_img{
    background-position: 0px 0px;
}

#codeJ_img{
    background-position: -32px 0px;
}
#codeP_img{
    background-position: -64px 0px;
}

#description{
    margin: 50px auto;
}

#author{
    position: relative;
    max-width: 680px;
    min-height: 310px;
    margin: 0px  auto;
}

#gBadge{
    position: relative;
    width: 200px;
    min-height: 290px;
    z-index: 5 !important;
    background: white;
}
#g_rb{
    position: absolute;
    bottom: -29px;
    left: -50px;
    width: 300px;
    height: 60px;
    z-index: 6;
    background: url('../../resources/img/rb.png') no-repeat center;
}
.bdBack{
    width: 200px;
    z-index: -5!important;
    margin-left: auto;
    margin-right: auto;
}
#ainfo{
    position: relative;
    margin: 0px auto;
    border-left: 5px solid #ccc;
}
#lp{
    height: 200px;
    width: 200px;
    background: url('../../resources/img/lp.png') no-repeat center;
    margin: 0px auto;
}

.order{
    text-align: center;
}
.o_odr{
    font-size: 1em;
   font-weight: 100;
}

.z0{
    z-index: 0 !important; 
}

.z1{
    z-index: 1 !important; 
}
.z2{
    z-index: 2 !important; 
}
.z3{
    z-index: 3 !important; 
}
.z4{
    z-index: 4 !important;
}
.z5{
    z-index: 5 !important; 
}


.wL{
    position: absolute;
    width: 100%;
    min-height: 150px;
    height: 100%;
    display: block;
    background: url('../../resources/icons/ldL.gif') no-repeat center top white;
    opacity: 0.8;
    z-index: 10 !important;
    top: 0px;
    visibility: hidden;
}
.bR{
    position: relative;
    display: block;
    padding: 0px 5px;
}

#heading{
    text-align: center;
}

.hSrch{
    position: relative;
    max-width: 500px;
    bottom: -85px;
}

#authTab{
    min-width: 80px;
    min-height: 25px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: black;
    opacity: 0.3;
    border-radius: 15px;
}
#authTab:hover{
    opacity: 0.8;
}
#authGp{
    height: 25px;
    width: 30px;
    margin-left: 28px;
    background: url('../../resources/icons/gw.png') center no-repeat;
}
#lgbtn{
    position: absolute;
    right: 8px;
    top: 5px;
}
#authImg{
    position: absolute;
    margin: -15px -20px;
    border-radius: 50%;
    background: gray;
    height: 50px;
    width: 50px;
}
#adtab{
    position: absolute;
    min-width: 100px;
    padding: 0px 20px;
    text-align: center;
    border-radius: 15px;
    left: -200px;
    height: 25px;
    background: red;
    top: 0px;
}
@media all and (max-width: 600px) and (min-width: 401px){
    h1 { font-size: 2em;}
    h2 { font-size: 1.8em;}
    .hSrch { bottom: -65px;}
}

@media all and (max-width: 400px){
    h1 { font-size: 1.5em;}
    h2 { font-size: 1.4em;}
    .hSrch { bottom: -65px;}
}
